:root {
  --font-white: rgb(235, 235, 235);
}

body {
  background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./cafe-background.jpg');
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  color: var(--font-white);
  font-family: 'Arvo', serif;
  font-size: 4rem;
  padding: 1em 1em;
  margin: 0;
}

.header > nav {
  padding: 2em 1em;
  margin-right: 50px;
}

.nav-button {
  color: var(--font-white);
  background-color: transparent;
  border: 0;
  font-size: 2.5rem;
  padding: 5px 10px;
  margin-right: 45px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.nav-button:hover {
  transform: translateY(-10px) translateX(10px);
  box-shadow: -5px 5px #ffffff;
}

.nav-button.active {
  transform: translateY(-10px) translateX(10px);
  box-shadow: -5px 5px #ffffff;
}

.main-content {
  color: var(--font-white);
  margin: 20px 140px;
}

.tagline {
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 2.5rem;
}

.desc {
  font-size: 2rem;
}

.menu-flex {
  background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  padding: 30px;
  margin: 20px 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.menu-food-name {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.contact-info {
  padding: 15px;
}

.contact-info > h1 {
  font-size: 40px;
}

.contact-info > p {
  font-size: 30px;
}